@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    --bs-body-font-family: 'Raleway', sans-serif;
    --bs-body-font-size: 0.9rem;
    --bs-body-font-weight: 300;
    --bs-body-bg: #fff;
}

h1{
    font-weight: 600;
    color: white; 
}

h2{
 font-weight: 400;   
 color: white;    
}

h3{
  font-weight: 400;
  color: white;  
}

h4,
h5,
h6,
strong {
    font-weight: 500;
}


#fondo-con-imagen {
    height: 70vh;
    background-image: url("img/sexual.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
